<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHealth</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" />
</head>
<body>

    <div class="login">
        <div class="login-child">
        </div>
        <div class="frame-parent">
            <div class="frame-group">
                <div class="frame-container">
                    <div class="login-parent">
                        <b class="username">Login</b>
                        <div class="enter-your-account">Enter your account details</div>
                    </div>
                    {%if messages%}
                    <ul id="messages" class="messages">
                        {% for message in messages %}
                        {% if 'warning' in message.tags %}
                        <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>{{message}}</li>
                        {%endif%}
                        {%endfor%}
                    </ul>
                    {%endif%}
                    <form id="form" action="/login/user" method="post">
                        {%csrf_token%}
                        <div class="frame-div">
                            <div class="username-parent">
                                <div class="input-group">
                                    <input id="email" type="text" placeholder="Email" name="email"
                                        aria-label="First name" class="form-control">
                                </div>
                            </div>
                            <div class="username-parent">
                                <div class="input-group">
                                    <input id="password" type="password" placeholder="Password" name="password"
                                        aria-label="First name" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button id="btnlogin" class="login-wrapper" type="submit">LogIn</button>
                    </form>
                </div>

            </div>


        </div>
        <div class="welcome-to-student-portal-parent">
            <div class="welcome-to-student-container">
                <p class="welcome-to">
                    <b>Welcome to </b>
                </p>
                <p class="welcome-to">MyHealth</p>
            </div>
            <div class="login-to-access">Login to access your account</div>
        </div>
        <div class="dont-have-an-account-parent">
            <div class="username">Don’t have an account?</div>
            <form action="/signup">
                {%csrf_token%}
                <button id="btn" class="login-wrapper" type="submit">SignUp</button>
            </form>
        </div>
    </div>




</body>




</html>